<div style="width:100%; background:#F6F6EF;border-top:5px solid
#F57B20;">
	<div style="width:80%; margin:auto; font-size:12px; color:#333;
font-family: Arial,sans-serif; padding:10px 10px 20px 10px;">
        <div style="padding: 15px 10px;">
            <div style="float:left; padding: 3px 0 0;" ><img
src="https://app.fieldnation.com/images/toplogo.png"
style="max-width:175px;max-height:75px;"
alt="https://app.fieldnation.com" border=0 /></div>
            <div style="float: right; text-align: right;" >
                Field Nation Staff Request Case Updated
                <div style="font-size: 10px; margin-top:3px;"> This is
an automatic notification. DO NOT REPLY</div>
            </div>

            <div style="clear:both;"></div>
        </div>

		<div style="background:#fff; margin: 15px 0px; padding: 30px;
border-radius: 5px; box-shadow: 0 1px 1px 0 #ccc;">
			<div align="justify" style="font-family:Verdana, Arial, Helvetica,
sans-serif;font-size:13px">
	<p>
		Hello <%= name%>,
		<br /><br />
		Your case status has been updated
		<br />
		Here is some details about your updated request:
		<br />
		CaseID: <%= caseid%>
		<br />
		<br />
		Description: <%= desc%>
		<br />
		<br />
		<strong>Case Status: </strong> <%= status%>
		<br />
		Applied to: <%= dept%>
		<br />
		Assigned to: <%= assignee%>
		<br />
		Date: <%= date%>
		<br />
		<br />
		Please contact your team leader/ any ASM if you have any inquiry
		<br />
		Thank you,
		<br/>
		FN Staff Portal
		<br/>
		<br/>

		<strong>If you don't recognize this activity</strong>, please log in
to verify your account settings
		and <a href="http://127.0.0.1:3000/profile"
target="_blank">Go to Homepage</a>
	</p>
</div>